<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Megan's Interests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta name="google-site-verification" content="YB0ab-PmliaxC-Zd7oAxyyJSRAsBF-903VDlOvG9Ww0" />

</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p-0">
                <app-nav-buttons></app-nav-buttons>
              </div>
            <main class="col-md-10 p-5">
                <div class="col-12 mb-4">
                    <h1 class="display-4 text-primary">My Interests</h1>
                    <p class="fs-5 text-start">
                        As I begin my career, I'm exploring a wide range of interests. Below are a few topics I find particularly fascinating, some I hope to explore further through formal research, possibly during a PhD, while others interest me for their corporate applications. I'd be happy to connect and discuss any of these areas, as I am excited to learn and explore!
                    </p>
                    <section class="mt-5">
                        <h2 class="text-primary mb-3">Research Interests</h2>
                        <p class="lead text-start">
                            <strong style="font-size: 23px; color: rgb(0, 0, 0)">Computational Geometry</strong> <br>
                            I am deeply interested in designing efficient algorithms for spatial and combinatorial problems, from geometric optimization and spatial data analysis to graph-theoretic structures. I hope to apply topology and rigorous mathematical reasoning to computer science through computational topology, bridging theory and computation. I enjoy this balance between theory and practical applications and am particularly excited by problems that combine geometry, topology, and graph theory.                            <br><br>
                            <strong style="font-size: 23px; color: rgb(0, 0, 0)">High Performance Computing</strong> <br>
                            I am fascinated by how high performance computing enables breakthroughs that would otherwise be impossible. From large-scale simulations to analyzing massive datasets, it allows us to tackle problems beyond a single machine and explore applications such as climate prediction. I am excited by its potential to accelerate discovery and innovation and hope to contribute to advancing these types of applications.                            <br><br>
                            <strong style="font-size: 23px; color: rgb(0, 0, 0)">Quantum Computing</strong> <br>
                            Quantum computing fascinates me for its potential to tackle problems that are intractable with classical methods. I am eager to explore both its theoretical foundations and practical applications, particularly in optimization, cryptography, and advanced algorithmic research. The prospect of hybrid quantum-classical systems is especially exciting, as they could combine the strengths of both approaches to enable entirely new types of computation. I am intrigued by the fact that current quantum methods are still emerging, and I would love to contribute to exploring this frontier.
                        <h2 class="text-primary mb-3">Career Interests</h2>
                        <p class="lead text-start">
                            <strong style="font-size: 23px; color: rgb(0, 0, 0)">All Things Security</strong> <br>
                            With a concentration in cyber defense, I enjoy exploring how to design, test, and secure systems against evolving threats, from network security to secure software engineering practices. This past academic year, I took Secure Application Development and Networks and Security courses where we studied different cyber attacks, simulated the role of the attacker by hacking into our peers’ applications and servers, and worked to stop them from gaining access in real time.                            
                            <br><br>
                            <strong style="font-size: 23px; color: rgb(0, 0, 0)">Product Development</strong> <br>
                            I’m passionate about building software solutions from the ground up, transforming ideas into working products that solve real problems. I deeply enjoy the process of dedicating months to a project and finally seeing something tangible take shape. There’s nothing quite like that feeling, I’m actually feeling it right now as I craft this very website :)
                            <br><br>
                            <strong style="font-size: 23px; color: rgb(0, 0, 0)">Quantitative Analysis</strong> <br>
                            Through my undergraduate thesis, I applied advanced statistical concepts like Extreme Value Theory to analyze stock behavior and predict future trends. I found that I enjoy this work far more than I expected and am keen to explore related career opportunities in the future.                        </p>
                        <h2 class="text-primary mb-3">Looking Ahead</h2>
                        <p class="lead text-start">
                            I hope this page offers a glimpse into the topics that capture my curiosity without defining me too narrowly. At this point in my life, the last thing I want is to be confined to a box. I am always open to exploring new areas and expanding my skill set. As I grow professionally, I know my focus will continue to evolve, and I am excited to see where curiosity and opportunity will take me!                        </section>
    </div>
    <script src="assets/js/nav.js"></script>
