<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Megan's Interests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta name="google-site-verification" content="YB0ab-PmliaxC-Zd7oAxyyJSRAsBF-903VDlOvG9Ww0" />

</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p-0">
                <app-nav-buttons></app-nav-buttons>
              </div>
            <!-- Main Content -->
            <main class="col-md-10 p-5">
                <div class="col-12 mb-4">
                    <h1 class="display-4 text-primary">My Interests</h1>
                    <p class="fs-5 text-start">
                        I have a wide range of interests as I am still early in my career, and here are a few topics I find particularly fascinating. Some I hope to explore further through formal research, perhaps during a PhD, while others interest me for their applications in a corporate setting. I would be happy to connect and discuss any of these areas, as I am eager to learn and explore!
                    </p>
                    <section class="mt-5">
                        <h2 class="text-primary mb-3">Graduate Research Interests</h2>
                        <p class="lead text-start">
                            <strong>Computational Topology</strong>
                            <br><br>
                            <strong>High Performance Computing</strong>
                            <br><br>
                            <strong>Quantum Computing</strong>
                        <h2 class="text-primary mb-3">Career Interests</h2>
                        <p class="lead text-start">
                            <strong>All Things Security</strong>
                            <br><br>
                            <strong>Database Management and Data Science</strong>
                            <br><br>
                            <strong>Networking</strong>
                        </p>
                    </section>
    </div>
    <script src="assets/js/nav.js"></script>