<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Megan's Resume and CV</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        .pdf-container pdf-viewer {
            margin-bottom: 2rem;
            width: 100%;
            height: 700px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background: white;
        }

        @media (max-width: 767px) {
            .pdf-container pdf-viewer {
                height: auto;
                min-height: 400px;
            }
        }
    </style>
    <meta name="google-site-verification" content="YB0ab-PmliaxC-Zd7oAxyyJSRAsBF-903VDlOvG9Ww0" />

</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 py-5 px-4">
                <app-nav-buttons></app-nav-buttons>
            </div>
            <main class="col-md-10 p-5">
                <div class="row justify-content-center">
                    <div class="col-12 mb-4">
                    <h1 class="display-4 text-primary typewriter">{{ typedText }}</h1>
                        <p class="fs-5 text-start">Feel free to take a look!</p>
                    </div>
                    <!-- PDF section row -->
                    <div class="row">
                        <div class="col-md-6 pdf-container d-flex flex-column align-items-center">
                            <h2 class="text-primary mb-3">Resume</h2>
                            <pdf-viewer [src]="pdfResume" [render-text]="true" [original-size]="false"></pdf-viewer>

                        </div>

                        <div class="col-md-6 pdf-container d-flex flex-column align-items-center">
                            <h2 class="text-primary mb-3">Curriculum Vitae</h2>
                            <pdf-viewer [src]="pdfCV" [render-text]="true" [original-size]="false"></pdf-viewer>

                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>
    <script src="assets/js/nav.js"></script>
</body>

</html>