.typewriter {
  display: inline-block;
  border-right: .15em solid #007bff; /* blinking caret */
  overflow: hidden;

  white-space: normal;  

  word-wrap: break-word;

  animation: blink-caret .7s step-end infinite;
}


@keyframes blink-caret {
  from, to { border-color: transparent; }
  50%      { border-color: #007bff; }
}
