<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Megan's Projects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p-0">
                <app-nav-buttons></app-nav-buttons>
              </div>
            <!-- Main Content -->
            <main class="col-md-10 p-5">
                <div class="col-12 mb-4">
                    <h1 class="display-4 text-primary">My Projects</h1>
                    <p class="lead">
                        Some of these were silly and fun projects, some were done in classes at UD, and some are very
                        serious, like my thesis! Enjoy!
                    </p>
                </div>

                <div class="row">
                    <!-- Project -->
                    <div class="col-md-4 mb-4">
                        <a href="https://github.com/Megan-Coyne/BevyCalculator" target="_blank"
                            class="text-decoration-none">
                            <div class="project-card shadow-sm rounded overflow-hidden h-100">
                                <img src="assets/img/calculator.png" class="img-fluid w-100" alt="Project Preview">
                                <div class="p-3 bg-white text-center">
                                    <h5 class="text-dark mb-0">Bevy Calculator</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- repeat for more projects -->
                </div>
            </main>

        </div>
    </div>
    <script src="assets/js/nav.js"></script>
</body>

</html>